### Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
import glob

### Leitura das bases de dados

In [2]:
df_cadastral = pd.read_csv('./datasets/CADASTRAL.csv')
df_campanhas = pd.read_csv('./datasets/CAMPANHAS.csv')
df_compras = pd.read_csv('./datasets/COMPRAS.csv')
df_liquidados = pd.read_csv('./datasets/LIQUIDADOS.csv')
df_pre_negados = pd.read_csv('./datasets/PRE_NEGADOS.csv')
df_reclamacoes = pd.read_csv('./datasets/RECLAMACOES.csv')

In [3]:
df_cadastral.head()

,cliente_id,sexo,idade,faixa_etaria,estado,cidade,escolaridade,profissao,estado_civil,renda_mensal,score_inicial,tipo_cliente,n_dependentes,canal_captacao,status_cadastro
0,C000000,Feminino,23,18-24,PE,Olinda,Superior,Comerciante,Casado(a),3507.09,475,Potencial,0,Indicação,Inativo
1,C000001,Masculino,22,18-24,PE,Outros,Pós-graduação,Auxiliar de Serviços Gerais,Solteiro(a),2831.55,584,Tradicional,2,Loja física,Bloqueado
2,C000002,Masculino,18,18-24,PE,Garanhuns,Fundamental,Autônomo,Casado(a),1500.00,300,Potencial,2,Indicação,Inativo
3,C000003,Masculino,37,35-44,PE,Paulista,Fundamental,Comerciante,Solteiro(a),2085.33,338,Tradicional,3,Loja física,Inativo
4,C000004,Masculino,74,60+,PE,Recife,Médio,Vendedor(a),Casado(a),1500.00,562,Potencial,2,Indicação,Bloqueado

In [4]:
df_cadastral.tail()

,cliente_id,sexo,idade,faixa_etaria,estado,cidade,escolaridade,profissao,estado_civil,renda_mensal,score_inicial,tipo_cliente,n_dependentes,canal_captacao,status_cadastro
149995,C149995,Feminino,53,45-59,PE,Jaboatão dos Guararapes,Médio,Autônomo,Casado(a),2257.84,479,Potencial,0,Indicação,Inativo
149996,C149996,Masculino,32,25-34,PE,Recife,Fundamental,Agricultor(a),Casado(a),1500.00,319,Tradicional,0,Loja física,Inativo
149997,C149997,Masculino,57,45-59,PE,Recife,Fundamental,Técnico de Enfermagem,Solteiro(a),1833.74,432,Potencial,1,Indicação,Inativo
149998,C149998,Feminino,32,25-34,PE,Jaboatão dos Guararapes,Fundamental,Auxiliar de Serviços Gerais,Casado(a),1500.00,386,Potencial,1,Indicação,Inativo
149999,C149999,Masculino,28,25-34,PE,Olinda,Superior,Comerciante,Casado(a),2607.89,550,Potencial,1,Indicação,Bloqueado

In [5]:
df_campanhas.head()

,cliente_id,data_envio,tema_campanha,canal,abriu,clicou,converteu_em_compra
0,C039242,2025-03-25,Compre e Ganhe,WhatsApp,Sim,Sim,Não
1,C118819,2023-10-19,Cashback,SMS,Não,Não,Não
2,C114009,2024-04-01,Cashback,SMS,Sim,Não,Sim
3,C101599,2024-03-21,Desconto Exclusivo,Email,Sim,Sim,Sim
4,C088611,2024-12-27,Novo Produto,WhatsApp,Sim,Não,Não

In [6]:
df_campanhas.tail()

,cliente_id,data_envio,tema_campanha,canal,abriu,clicou,converteu_em_compra
99995,C091496,2024-07-28,Compre e Ganhe,Email,Não,Não,Não
99996,C018907,2024-07-07,Lançamento de Linha,SMS,Não,Não,Não
99997,C055989,2024-07-14,Novo Produto,Email,Não,NaN,Não
99998,C138030,2023-12-15,Lançamento de Linha,WhatsApp,Sim,Sim,Não
99999,C107245,2023-12-31,Novo Produto,Notificação App,Sim,Não,Não

In [7]:
df_compras.head()

,cliente_id,data_compra,valor_compra,categoria,canal_compra,status_entrega,forma_pagamento,parcelado,quantidade_parcelas
0,C121958,2024-09-25,169.17,Alimentos,Presencial,Entregue,Pix,Sim,4
1,C146867,2024-04-29,73.34,Higiene Pessoal,Presencial,Entregue,Débito,Sim,2
2,C131932,2023-09-11,151.52,Bebidas,Online,Entregue,Pix,Não,1
3,C103694,2024-01-04,626.98,Utilidades Domésticas,Online,Entregue,Pix,Sim,4
4,C119879,2024-11-04,524.60,Utilidades Domésticas,Presencial,Entregue,Boleto,Sim,2

In [8]:
df_compras.tail()

,cliente_id,data_compra,valor_compra,categoria,canal_compra,status_entrega,forma_pagamento,parcelado,quantidade_parcelas
139995,C025506,2025-05-08,162.15,Higiene Pessoal,Presencial,Entregue,Boleto,Não,1
139996,C125019,2025-05-10,410.64,Utilidades Domésticas,Presencial,Entregue,Cartão,Sim,3
139997,C142979,2023-11-17,161.87,Limpeza,Online,Atrasado,Pix,Não,1
139998,C072486,2023-09-21,213.83,Higiene Pessoal,Presencial,Entregue,Pix,Sim,4
139999,C147626,2023-08-16,128.21,Limpeza,Aplicativo,Entregue,Pix,Sim,2

In [9]:
df_liquidados.head()

,cliente_id,data_pagamento,valor_original,valor_pago,atraso_em_dias,forma_pagamento,situacao_pagamento
0,C059770,2024-05-12,2311.12,1825.02,54,Cartão de Crédito,PARCIAL
1,C021362,2024-03-14,3528.95,3528.95,22,Cartão de Crédito,PAGO
2,C127324,2024-03-15,1669.74,1669.74,29,PIX,PAGO
3,C140509,2024-05-21,4896.25,4896.25,8,Boleto,PAGO
4,C144297,2024-01-30,3873.90,3873.90,6,Débito em Conta,PAGO

In [10]:
df_liquidados.tail()

,cliente_id,data_pagamento,valor_original,valor_pago,atraso_em_dias,forma_pagamento,situacao_pagamento
112495,C129989,2024-04-29,1726.15,1726.15,20,PIX,PAGO
112496,C121633,2024-01-29,2208.56,2208.56,24,Boleto,PAGO
112497,C031872,2024-01-24,1725.12,533.33,36,Débito em Conta,PARCIAL
112498,C141471,2024-02-27,2648.36,906.39,35,Cartão de Crédito,PARCIAL
112499,C036144,2024-02-18,3400.88,0.00,40,Boleto,EM ABERTO

In [11]:
df_pre_negados.head()

,cliente_id,data_solicitacao,valor_solicitado,finalidade_credito,motivo_negativa,tentou_novamente
0,C121598,2024-03-24,2342.40,Empréstimo Pessoal,Renda Insuficiente,Não
1,C040441,2023-12-24,2989.24,Compra Parcelada,Histórico de Inadimplência,Não
2,C009340,2024-09-13,1363.82,Cartão de Crédito,Histórico de Inadimplência,Não
3,C113649,2024-06-03,1832.73,Cartão de Crédito,Histórico de Inadimplência,Sim
4,C029388,2024-01-07,1745.75,Cartão de Crédito,Documentação Incompleta,Sim

In [12]:
df_pre_negados.tail()

,cliente_id,data_solicitacao,valor_solicitado,finalidade_credito,motivo_negativa,tentou_novamente
29995,C120933,2025-06-09,4175.03,Compra Parcelada,Inconsistência Cadastral,Não
29996,C037096,2025-06-10,1988.57,Cartão de Crédito,Histórico de Inadimplência,Não
29997,C130515,2023-11-03,1341.74,Limite Conta,Documentação Incompleta,Não
29998,C064336,2025-05-22,1899.31,Empréstimo Pessoal,Renda Insuficiente,Sim
29999,C034951,2024-07-24,2949.46,Cartão de Crédito,Renda Insuficiente,Sim

In [13]:
df_reclamacoes.head()

,cliente_id,data_reclamacao,tipo_reclamacao,canal_reclamacao,tempo_resposta_dias,status_reclamacao,reincidente
0,C004645,2023-11-17,Cobrança Indevida,SAC,11.0,Finalizada,Sim
1,C047423,2023-12-09,Cobrança Indevida,Aplicativo,7.0,Aberta,Não
2,C075337,2023-08-18,Atendimento Ruim,Aplicativo,2.5,Encerrada sem Resolução,Não
3,C030874,2024-01-26,Atraso na Entrega,SAC,3.3,Em Atendimento,Não
4,C088451,2025-04-12,Atraso na Entrega,Aplicativo,2.2,Finalizada,Não

In [14]:
df_reclamacoes.tail()

,cliente_id,data_reclamacao,tipo_reclamacao,canal_reclamacao,tempo_resposta_dias,status_reclamacao,reincidente
119995,C133360,2024-08-08,Atraso na Entrega,Aplicativo,1.4,Finalizada,Não
119996,C044953,2024-10-22,Cobrança Indevida,E-mail,7.2,Encerrada sem Resolução,Não
119997,C145302,2023-08-01,Produto Errado,Loja Física,10.6,Finalizada,Sim
119998,C099535,2025-04-14,Atraso na Entrega,SAC,1.2,Finalizada,Não
119999,C059113,2024-05-29,Produto Errado,Aplicativo,12.4,Em Atendimento,Não

### Explorando os Dados do Dataframe CADASTRAL

In [15]:
# Conhecendo os valores não nulos e tipos de dados por coluna.
df_cadastral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   cliente_id       150000 non-null  object
 1   sexo             150000 non-null  object
 2   idade            150000 non-null  int64
 3   faixa_etaria     150000 non-null  object
 4   estado           150000 non-null  object
 5   cidade           150000 non-null  object
 6   escolaridade     150000 non-null  object
 7   profissao        150000 non-null  object
 8   estado_civil     150000 non-null  object
 9   renda_mensal     150000 non-null  float64
 10  score_inicial    150000 non-null  int64
 11  tipo_cliente     150000 non-null  object
 12  n_dependentes    150000 non-null  int64
 13  canal_captacao   150000 non-null  object
 14  status_cadastro  150000 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 17.2+ MB

In [16]:
# Trazendo as estatísticas do nosso dataframe
df_cadastral.describe()

               idade   renda_mensal  score_inicial  n_dependentes
count  150000.000000  150000.000000  150000.000000  150000.000000
mean       39.285667    2369.561071     454.403853       1.497413
std        16.245469     832.909666      86.518448       1.207544
min        18.000000    1500.000000     300.000000       0.000000
25%        27.000000    1609.657500     391.000000       1.000000
50%        36.000000    2192.755000     446.000000       1.000000
75%        49.000000    2868.442500     509.000000       2.000000
max        84.000000    6777.480000     848.000000       5.000000

In [17]:
# Conhecendo os tipos de dados
df_cadastral.dtypes

cliente_id          object
sexo                object
idade                int64
faixa_etaria        object
estado              object
cidade              object
escolaridade        object
profissao           object
estado_civil        object
renda_mensal       float64
score_inicial        int64
tipo_cliente        object
n_dependentes        int64
canal_captacao      object
status_cadastro     object
dtype: object

In [18]:
# Verificando se há dados nulos, não há dados nulos
df_cadastral.isnull().sum()

cliente_id         0
sexo               0
idade              0
faixa_etaria       0
estado             0
cidade             0
escolaridade       0
profissao          0
estado_civil       0
renda_mensal       0
score_inicial      0
tipo_cliente       0
n_dependentes      0
canal_captacao     0
status_cadastro    0
dtype: int64

In [19]:
# Verificando se há dados duplicados, não há dados duplicados
df_cadastral.duplicated().sum()

np.int64(0)

OBS: Coluna de Faixa Etária está com 5 opções de acordo com a idade do cliente
(Avaliar como irei tratar, talvez substituir ou por uma vogal (A,B,C,D,E ou transformar em numérica 1,2,3,4,5))
Não há valores ausentes
Coluna de renda está com (.), substituir por vírgula.

In [20]:
# Está com ponto, só vou conseguir mudar posteriormente
df_cadastral.head()

,cliente_id,sexo,idade,faixa_etaria,estado,cidade,escolaridade,profissao,estado_civil,renda_mensal,score_inicial,tipo_cliente,n_dependentes,canal_captacao,status_cadastro
0,C000000,Feminino,23,18-24,PE,Olinda,Superior,Comerciante,Casado(a),3507.09,475,Potencial,0,Indicação,Inativo
1,C000001,Masculino,22,18-24,PE,Outros,Pós-graduação,Auxiliar de Serviços Gerais,Solteiro(a),2831.55,584,Tradicional,2,Loja física,Bloqueado
2,C000002,Masculino,18,18-24,PE,Garanhuns,Fundamental,Autônomo,Casado(a),1500.00,300,Potencial,2,Indicação,Inativo
3,C000003,Masculino,37,35-44,PE,Paulista,Fundamental,Comerciante,Solteiro(a),2085.33,338,Tradicional,3,Loja física,Inativo
4,C000004,Masculino,74,60+,PE,Recife,Médio,Vendedor(a),Casado(a),1500.00,562,Potencial,2,Indicação,Bloqueado